<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todulist</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
   <div class="box" id="heading">
    <h1><%= ejs %></h1>
    </div>
         
    <div class="box">     
         
      
       
       <% for (var i=0; i<newitems.length; i++){ %>
       <div class="item">
       <input type="checkbox">
       <p><%= newitems[i] %></p>
       </div>   
      <%  } %>
        
   
    <form action="/" method="post">
  
        <input type="text" placeholder="new item" name="newItem" autocomplete="off" >
        <button type="submit" name="button">+</button>
        
    </form>
    </div>
</body>
</html>